#logo {
	height: 40px;
}

.child-page {
	background: url(../img/Untitled.png);
}

.capitalize{
text-transform: capitalize;
}

#main-header {
	background: #fff;
}

#inquiry-form .card-header{
	padding: 0 !important;
}

#inquiry-form .card-header .nav-link {
	padding: 15px;
}

#order-wrapper {
	position: fixed;
	width: 40%;
	left:100px;
	top: 250px;
	text-align: center;
}

.card-footer small {
	padding-left: 10px;
}

@media only screen and (max-width: 400px) {
	#order-wrapper {
		width: 100%;
		left: 0;
		top: 100px;
	}
}

@media only screen and (max-width: 500px) {
	#order-wrapper {
		width: 100%;
		left: 0;
	}
}

@media only screen and (max-width: 550px) {
	#order-wrapper {
		width: 100%;
		left: 0;
	}
}

@media only screen and (max-width: 600px) {
	#order-wrapper {
		width: 100%;
		left: 0;
	}
}

@media only screen and (max-width: 650px) {
	#order-wrapper {
		width: 100%;
		left: 0;
	}
}

@media only screen and (max-width: 750px) {
	#order-wrapper {
		width: 100%;
		left: 0;
		top: 100px;
	}
}
